@mixin button-style($color){
    border:$color;
    border-color: $color;
    background-color: transparent;
    
    &:hover,
    &:focus,
    &:Active,
    &:active:focus,
    &:active:hover{
        color: darken($color, 25%);
        border-color:darken($color, 25%);
        background-color: transparent;
    }

}