*{
    padding:0;
    margin:0;
}
/*  Start Header */
.custom-navbar{
    border-bottom:3px solid #F7f8f3;
    width:100%;
    background-color: #fff;
    padding:6px 0;
}
.categories{
    border: right !important;
    border-radius: 0;
    padding-bottom: 11px;
}
.custom-dropdown-menu{
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 #EBEBEB;
    color: #777;
}
.nav-link{
    color:#555;
    font-size: 15px;
    padding:15px;
}
.custom-navbar .navbar-nav li.active a.nav-link{
    color:#ff3956;
    font-weight: 700;
    border-bottom: 1px solid #ff3956;
}
.custom-navbar .navbar-nav li.active:hover a.nav-link{
    background-color: #e7e7e7;
}
.custom-dropdown-menu li a:hover{
    background-color:#FFE7EA;
}
.custom-navbar .btn-icon{
    padding:5px 10px;
    color:#777;
    border:1px solid #ddd;
    background-color: transparent;
    font-size:12px;
    margin-left: 10px;
    margin-top: 13px !important;
}
ul.navbar-nav{
    margin-left: auto;
}

/* Start Carousel */
#carousel-features{
    height:400px;
    background-color: #F7f8f3;
    padding-top:25px;
}
#carousel-features .carousel-item img{
    height: 375px;
}
#carousel-features .product-details{
    border:1px solid #DDDDDB;
    padding:20px;
    position: relative;
    top:50px;
    height:200px;
    background-color: #F7f8f3;
}
#carousel-features .product-details h1{
    font-weight: 700;
    font-size: 175%;
    margin-top: 20px;
}
#carousel-features .product-details .product-category{
    border:1px solid #DDDDDB;
    padding:10px;
    position:absolute;
    top:-10px;
    right:-10px;
    background-color: #F7f8f3;
}

.sale{
    background-color: #53CCD7;
    color: #fff;
    font-weight: bold;
    position: absolute;
}
.sale.large{
    height: 60px;
    width:60px;
    border-radius: 50%;
    left: -15px;
    top:-15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 90%;
    transform: rotate(-25deg);
}
.sale.large span{
    font-size: 10px;
}
.custom-carousel-indicators{
    top:230px;
    left:45%;
}
.custom-carousel-primary{
    width:80px !important;
    height: 80px !important;
    opacity: 1 !important;
    border:1px solid #DDDDDB !important;
    margin: 0  5px !important;
}
.custom-carousel-primary.active{
    border-color: #f8ad47 !important;
}
#carousel-features .carousel-control-prev .fa-chevron-left,
#carousel-features .carousel-control-next .fa-chevron-right{
    font-size: 40px;
    color:#868688;
}
/* End Carousel */
/* Start Feaures-product */
#store-features{
    box-shadow: 0 0 15px #EEF0EA;
    background-image: url('../images/bg_features.png');
    background-repeat: no-repeat;
    background-size: auto 60%;
    position: relative;
    top:-15px;
    background-color: #fff;
    padding-bottom: 35px;
    padding-top:25px;
    background-position: -10px -20px;
}
#store-features .feature  img{
    height:40px;
    margin-bottom: 10px;
}
#store-features .feature+.feature{
    border-right: 2px solid #EEF0EA;
}
/* End Feaures-product */
/*  End Header */
/* Start Product */
.heading{
    font-size: 25px;
    margin-bottom: 25px;
}
.custom-thumnail .sale{
    position:absolute;
    padding:5px 10px;
}
.custom-thumnail .sale::before{
    content: "-";
}

.price{
    color:#53CCD7;
}
.rating{
    color:#C2C2C2;
}
.rating .active{
    color:#f3af41;
}
.overlay{
    position: absolute;
    background-color:rgba(53, 204, 215, 0.5);
    height:250px;
    width:calc(100% - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    opacity: 0;
}
.overlay:hover{
    opacity: 1;
}

.carousel-indicators2{
    bottom: -58px !important;
    padding:20px 0 !important;
}
.carousel-indicators2>li {
    width:13px !important;
    height:13px !important;
    background-color:#dbdbdb;
    margin-right:10px !important;
}
.carousel-indicators2>li.active{
    background-color: #565655 !important;
}
.panel,
.panel .price{
    border:1px solid #FFE7EA;
    border-radius: 2px;
    padding:10px;
    margin-top: 0;
}
.custom-text-muted{
    color:#A9A9A9;
}
.arrow-btn{
    background-color: #fff;
    border:1px solid #EBEBEB;
    border-radius: 2px;
    padding:5px 10px;
    font-size: 13px;
}
#row-brands h3.heading{
    border-top: 1px solid #EEF0EA;
    padding-top: 15px;
}
/* Start Footer */
#brand-logos{
    background-color:#dbeefa;
    padding:25px 0;
    color:#555;
}
#brand-logos img{
    margin-left:25px;
    margin-right:15px;
    max-width: 100px;
    max-height: 100px;
}
#footer-nav{
    background-color: #1f1e1e;
    padding:50px 0 40px ;
    background-image: url('../images/bg_footer_1.png'), url('../images/bg_footer_2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 110% 0, -10% -150%;
}
.footer-nav-link{
    margin:30px 0;
}
.footer-nav-link a{
    color:#555;
    margin-left: 30px;
    font-weight: bold;
    text-decoration: none !important;
}
.newletter{
    border-top: 1px solid #292929;
}
.newletter form{
    width:460px;
}
.newletter form .form-control{
    width:70%;
    background-color: #313131;
    opacity: .6;
    border:none;
    height:40px;
}
.newletter form label{
    margin:30px 0 16px;
    font-size: 14px;
    font-weight: bold;
    color:#555;
}

#footer-copyright-social{
    background-color: #151515;
    color:#303030;
    font-weight: 700;
}
#footer-copyright-social a{
    width:50px;
    height: 50px;
    line-height: 50px;
    text-decoration: none;
}
.btn:focus,
.btn:active{
    outline: none!important;
    box-shadow: none!important;
}
/* End Footer */
/* End Product */


/* Start Product page */
.custom-breadcrumb{
    padding:25px 0;
}
.custom-breadcrumb a{
    color:#555;
    text-decoration: none;
}
.custom-breadcrumb a:hover{
    color:#f8ad47;
}
.custom-breadcrumb>li::before{
    color:#f8ad47 !important
}
.custom-breadcrumb  .active{
    color:#bfbfbf !important;
}

#carousel-product-images .carousel-indicators{
    position:absolute;
    top: 92%;
    right: 0;
}
#carousel-product-images  .carousel-item img{
    width: 100%;
    height: auto;
    border:1px solid #EBEBEB
}
.product-category{
    color:#A9A9A9
}
#form-product-section h2{
    font-weight:700;
    margin:18px 0;
}
.price.large{
    margin-top:20px;
    font-size: 30px;
}
.border-between>div+div{
    border-top:1px solid #EBEBEB;
    padding:15px 0;
}
.product-option{
    display: inline-block;
    height:18px;
    width:18px;
    border:1px solid #EBEBEB;
    justify-content: center;
    margin:2px;
    font-weight: 700;
}
.color-option .active{
    border-color: #fff;
    outline: #000 solid 1px;
}
.product-option input{
    display: none;
}
.product-option  .active{
    color: #f8ad47;
    border-color: #f8ad47;
}
.product-quantity select{
    height: 34px !important;
    padding:6px 12px;
}
.custom-btn-with-icon{
    margin:15px 0;
    font-size: 20px;
    padding:5px 10px;
}
/*  Start Description */
.headind-witdh-border-bottom{
    border-bottom:1px solid #EBEBEB;
    padding-bottom:15px;
    display: inline-block;
    min-width:250px;
}
.more-description p,
.more-description ul{
    margin-bottom:10px;
}
/*  Start Description */
.comments .comment img{
    width:80px;
    height:80px;
    margin-left:10px;
    border:1px solid #dfdfdf;
}
.comments .comment h4{
    font-size: 15px;
    margin-bottom:5px;
}
/* Start Product page */

/*  Start Checkout */
 .custom-media img{
    width:80px;
    height: 80px;
    border:1px solid #EBEBEB;
    margin-left: 10px;
 }
 .custom-heading{
    font-size:36px;
    margin-bottom: 25px;
 }
#total-price{
    color:#000;
}
thead{
    padding:14px  0 !important;
}
.borders-between{
    border-top: 1px solid #ebebeb;
    padding: 15px 0;
}
/*  End  Checkout */
.custom-input-details{
    border-width:2px;
    border-radius: 3px;
    height: 46px !important;
    padding:0 16px;
    font-size: 20px;
    width:98%;
}
/*  Start payment */
/*  Start Search  */
#form-advanced-search {
    border:1px solid #EBEBEB;
    padding-bottom: 20px;
    margin-bottom: 20px;
    height: fit-content;
}
#form-advanced-search .panel{
    border:none;
}
#form-advanced-search label{
    font-weight: bold;
    cursor: pointer;
}
.panel .card-header{
    background-color: transparent;
    margin-bottom: 15px;
    padding-bottom: 14px;
}
.custom-list-group .list-group-item{
    border:none;
}
.custom-list-group{
    border-bottom: 1px solid #EBEBEB;
}
.custom-pagination .page-link{
    margin-right: 6px  !important;
    margin-left: 8px !important;
    padding-top:4px;
    padding-bottom: 6px;
    border:1px solid #EBEBEB !important;
    width:32px !important;
    height: 36px !important;
    color:#C2C2C2 !important;
    text-decoration: none !important;
    outline: none !important;
    transition: all .5s ease !important;
}
.custom-pagination .page-item.active .page-link{
    background-color:#f8ad47 !important;
    border-color:#f8ad47 !important;
    color:#fff !important;
}
.custom-pagination .page-link:active,
.custom-pagination .page-link:focus,
.custom-pagination .page-link:hover a{
    border-color:#f8ad47 !important;
    background-color:#f8ad47 !important;
    color: #fff !important;
}
/*  End Search  */
/*  End payment */
/* Start Media Queries */

@media (max-width: 575.98px) { 
    .inline-form .custom-form-control{
        width:80% !important;
    }
    .inline-form .search-btn{
        width:20% !important;
    }
    .newletter form .form-control{
        width:50% !important;
    }
    #form-product-section,
    .comments{
        padding-right:15px;
    }
 }

@media (max-width: 767.98px) { 
    #carousel-features{
        height: auto !important;
    }
    #carousel-features .product-details{
        top:-15px !important;
        text-align: center !important;
    }
    #carousel-features .carousel-item img{
        height:250px;
    }
    .custom-carousel-indicators {
        left: 34%;
        top: 250px;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
    #brand-logos img{
        max-width:50px;
        max-height: 50px;
        margin:5px 24px 5px 23px;
    }
    #footer-nav .footer-logo{
        margin-bottom: 20px !important;
    }

    #footer-nav form{
        width: 100%;
        max-width:100%;
        padding:0 20px;
    }
    .newletter form .form-control{
        width:65% !important;
    }
 }
@media (max-width: 991.98px) { 
    .custom-navbar{
        padding:15px 30px 30px;
    }
    .custom-navbar .container{
        max-width:100%;
    }
    .navbar-header{
        display: block;
        width:100%;
        margin-bottom:22px;
    }
    .inline-form{
        width:89%;
        border-top:1px solid #eee;
        border-bottom: 1px solid #eee;
        padding:10px 0;
    }
    .inline-form .dropdown{
        display: none;
    }
    .inline-form .custom-form-control{
        width:90%;
    }
    .inline-form .search-btn{
        width:10%;
    }
    #row-brands .carousel-inner img{
        width:200px !important;
        height: auto !important;
    }
    #footer-copyright-social,
    .social-icons{
        width: 100%;
        text-align: center;
    }
    .social-icons{
        font-size: 30px;
        margin-top:10px;

    }
    .d-flex.copy{
        display: block !important;
    }
    .product-images{
        margin-bottom: 70px;
    }
  .serach-pagination{
    display:flex;
    justify-content: center;
    align-items: center;
  }
 }

@media (max-width: 1199.98px) { 
    .custom-navbar .navbar-nav li a.nav-link{
        padding:10px 0;
    }
    .navbar-collapse .nav-item:first-child{
        border-bottom: 1px solid #282828;
        margin-top: 15px;
        padding-top: 10px;
    }
    .custom-carousel-indicators {
        left: 34%;
        top: 250px;
        margin-left: 5% !important;
    }
    .overlay{
        display: none;
    }
    .add-to-cart-btn{
        color:#868686;
        border-color: #868686;
        margin: 15px auto ;
        font-weight: 400;
    }
    .product-option{
        display: inline-block;
        height:14px;
        width:11px;
        border:1px solid #EBEBEB;
        justify-content: center;
        margin:2px;
        font-weight: 700;
    }
 } 
@media (max-width: 1399.98px) { 
    .custom-carousel-indicators {
        left: 34%;
        top: 250px;
        margin-left: 5% !important;
        margin-right: 5% !important;
    }
 }
/* End Media Queries */