*{
    padding:0;
    margin:0;
}
/*  Start Header */
.custom-navbar{
    border-bottom:3px solid #F7f8f3;
    width:100%;
    background-color: #fff;
    padding:6px 0;
}
.custom-form-control, .dropdown a.custom-btn{
    border:1px solid #EBEBEB;
    box-shadow: none;
    border-radius: 2px;
    color:#868686;
    transition:all .5s ease;
}
.custom-form-control:focus{
    border-color: #C2101E;
    box-shadow: 0 0 2px #C2101E;;
}
.dropdown a.custom-btn:hover{
    background-color: #d4d4d4;
    border:1px solid #8c8c8c;
    color:#ff3956;
}
.dropdown a.custom-btn:focus{
    color:#ff3956;
}
.categories{
    border: right !important;
    border-radius: 0;
    padding-bottom: 11px;
}
.custom-dropdown-menu{
    border-radius: 2px;
    box-shadow: 0 2px 5px 0 #EBEBEB;
    color: #777;
}
.search-btn{
    border-color: #ff3956;
    color:#fff;
    border-radius: 0;
    background-color:#ff3956;
}
.search-btn:hover,
.search-btn:active,
.search-btn:focus,
.search-btn:active:focus,
.search-btn:active:hover{
    background-color: #C2101E;
    color:#fff;
}

.nav-link{
    color:#555;
    font-size: 15px;
    padding:15px;
}
.custom-navbar .navbar-nav li.active a.nav-link{
    color:#ff3956;
    font-weight: 700;
    border-bottom: 1px solid #ff3956;
}
.custom-navbar .navbar-nav li.active:hover a.nav-link{
    background-color: #e7e7e7;
}
.custom-dropdown-menu li a:hover{
    background-color:#FFE7EA;
}
.custom-navbar .btn-icon{
    padding:5px 10px;
    color:#777;
    border:1px solid #ddd;
    background-color: transparent;
    font-size:12px;
    margin-left: 10px;
    margin-top: 13px !important;
}
ul.navbar-nav{
    margin-left: auto;
}

/* Start Carousel */
#carousel-features{
    height:400px;
    background-color: #F7f8f3;
    padding-top:25px;
}
#carousel-features .carousel-item img{
    height: 375px;
}
#carousel-features .product-details{
    border:1px solid #DDDDDB;
    padding:20px;
    position: relative;
    top:50px;
    height:200px;
    background-color: #F7f8f3;
}
#carousel-features .product-details h1{
    font-weight: 700;
    font-size: 175%;
    margin-top: 20px;
}
#carousel-features .product-details .product-category{
    border:1px solid #DDDDDB;
    padding:10px;
    position:absolute;
    top:-10px;
    right:-10px;
    background-color: #F7f8f3;
}
.custom-outline-warning{
    background-color: transparent;
    border-color: #f8ad47;
    color: #f8ad47;
}
.search-.custom-outline-warning:hover,
.search-.custom-outline-warning:active,
.search-.custom-outline-warning:focus,
.search-.custom-outline-warning:active:focus,
.search-.custom-outline-warning:active:hover{
    border-color: #b86d07;
    color: #b86d07;
}
.sale{
    background-color: #53CCD7;
    color: #fff;
    font-weight: bold;
    position: absolute;
}
.sale.large{
    height: 60px;
    width:60px;
    border-radius: 50%;
    left: -15px;
    top:-15px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    line-height: 90%;
    transform: rotate(-25deg);
}
.sale.large span{
    font-size: 10px;
}
.custom-carousel-indicators{
    top:290px;
    left:55%;
}
.custom-carousel-primary{
    width:80px !important;
    height: 80px !important;
    opacity: 1 !important;
    border:1px solid #DDDDDB !important;
    margin: 0  5px !important;
}
.custom-carousel-primary.active{
    border-color: #f8ad47 !important;
}
#carousel-features .carousel-control-prev .fa-chevron-left,
#carousel-features .carousel-control-next .fa-chevron-right{
    font-size: 40px;
    color:#868688;
}
/* End Carousel */
/* Start Feaures-product */
#store-features{
    box-shadow: 0 0 15px #EEF0EA;
    background-image: url('../images/bg_features.png');
    background-repeat: no-repeat;
    background-size: auto 60%;
    position: relative;
    top:-15px;
    background-color: #fff;
    padding-bottom: 35px;
    padding-top:25px;
    background-position: -10px -20px;
}
#store-features .feature  img{
    height:40px;
    margin-bottom: 10px;
}
#store-features .feature+.feature{
    border-right: 2px solid #EEF0EA;
}
/* End Feaures-product */
/*  End Header */
/* Start Product */
.heading{
    font-size: 25px;
    margin-bottom: 25px;
}
.custom-thumnail img{
    width:100%;
    max-width:250px;
    height:250px;
}
.custom-thumnail{
    border: 2px solid #EEF0EA;
    padding:8px;
    cursor: pointer;
}
.custom-thumnail .sale{
    position:absolute;
    padding:5px 10px;
}
.custom-thumnail .sale::before{
    content: "-";
}
.custom-thumnail:hover{
    border-color: #53CCD7;
}
.custom-thumnail h4{
    font-size: 20px;
}
.price{
    color:#53CCD7;
}
.rating{
    color:#C2C2C2;
}
.rating .active{
    color:#f3af41;
}
.overlay{
    position: absolute;
    background-color:rgba(53, 204, 215, 0.5);
    height:250px;
    width:calc(100% - 16px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    opacity: 0;
}
.overlay:hover{
    opacity: 1;
}
.add-to-cart-btn{
    color:#53CCD7;
    background-color: #fff;
    font-weight: 700;
}
.carousel-indicators2{
    bottom: -80px !important;
    padding:20px 0 !important;
}
.carousel-indicators2>li {
    width:13px !important;
    height:13px !important;
    background-color:#dbdbdb;
    margin-right:10px !important;
}
.carousel-indicators2>li.active{
    background-color: #565655 !important;
}
/* End Product */